
select{
  margin-bottom: 10px;
}

html{
  width: auto;
  height: auto;
}

body {
  background-color: #f2f2f2;
  margin: 0px;
  font-family: tahoma;
  color: #282828;
  size: auto; 
}

table{
  display: table-cell;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
  border-style: solid;
  background-color: #9b9191;
  height: 40px;
}

th{
  margin-bottom: 20px;
  padding-left: 60px;
}



h1 {
  font-size: 50px;
}

h3 {
  font-size: 25px;
}

p {
  font-size: 17px;
}

input {
  width: 100%;
  max-width: fit-content;
  height: 7px;
  margin-bottom: 20px;
  padding: 10px;
}

label {
  font-size: 20px;
  margin-bottom: 5px;
}

li {
  font-size: 18px;
  size-adjust: fit-content;
}

textarea {
  width: 95%;
  height: 70px;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 20px;
}

.button {
  margin-left: 150px;
  background-color: #e94817;
  border-radius: 5px;
  font-size: 18px;
  width: 160px;
  height: 60px;
  color: white;
  padding-left: 10px;
  box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17),
    inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15),
    inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
  text-align: center;
  cursor: pointer;
}

.disabledButton {
  background-color: #d8d8d8;
  cursor: not-allowed;
}

.nav-bar {
  background:linear-gradient(-90deg, #e94817, #d1e704);
  height: 60px;
  margin-bottom: 25px;
  -webkit-box-shadow: 0px 2px 15px -12px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 2px 15px -12px rgba(0, 0, 0, 0.57);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.57);
  text-align: center;
  font-size: larger;
  font-family: 'Lucida Sans', 'Lucida Sans Regular';
  font-style: oblique;
}

.form-regist {
  display: flex;
  flex-direction: column;
  width: 425px;
  padding: 20px;
  margin: 20px;
  border: 2px solid #d8d8d8;
  background-color: white;
  -webkit-box-shadow: 0px 2px 15px -12px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 2px 15px -12px rgba(0, 0, 0, 0.57);
  box-shadow: 2px 15px -12px rgba(0, 0, 0, 0.57);
}

.regist-container {
  width: 425px;
  padding: 0px;
  background-color: white;
  -webkit-box-shadow: 0px 2px 20px -12px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 2px 20px -12px rgba(0, 0, 0, 0.57);
  box-shadow: 2px 20px -12px rgba(0, 0, 0, 0.57);
  margin: 0px;
  border: 2px solid #d8d8d8;
}



#app{
  display: flex;
  flex-direction: column;
  width: auto;
  height: 100%;
  padding: 20px;
  margin: 20px 40px ;
  border: 2px solid #d8d8d8;
  background-color: rgba(223, 220, 58, 0.897);
  -webkit-box-shadow: 0px 2px 15px -12px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 2px 15px -12px rgba(0, 0, 0, 0.57);
  box-shadow: 2px 15px -12px rgba(0, 0, 0, 0.57);
}